@model IEnumerable<Garduino.Models.Code>

@{
    ViewData["Title"] = "Active codes";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a> | 
    <a asp-action="All">See all</a>
</p>
<form asp-controller="Code" asp-action="Index" method="get">
    @await Html.PartialAsync("Search")
</form>
@await Html.PartialAsync("Table", Model)
