@model Garduino.Models.Measure

@{
    ViewData["Title"] = "Edit an entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="page-header"><h2>@ViewData["Title"]</h2></div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id"/>
                <div class="form-group">
                    <label asp-for="DateTime" class="control-label"></label>
                    <input asp-for="DateTime" class="form-control"/>
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoilMoisture" class="control-label"></label>
                    <input asp-for="SoilMoisture" class="form-control"/>
                    <span asp-validation-for="SoilMoisture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoilDescription" class="control-label"></label>
                    <input asp-for="SoilDescription" class="form-control"/>
                    <span asp-validation-for="SoilDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AirHumidity" class="control-label"></label>
                    <input asp-for="AirHumidity" class="form-control"/>
                    <span asp-validation-for="AirHumidity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AirTemperature" class="control-label"></label>
                    <input asp-for="AirTemperature" class="form-control"/>
                    <span asp-validation-for="AirTemperature" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Id" type="hidden" class="form-control"/>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="LightState"/> @Html.DisplayNameFor(model => model.LightState)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" asp-route-deviceId="@ViewData["deviceId"]">Back to List</a>
    </div>

</div>

