
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="page-header">
        <h1>Garduino <small>- web API for data gardenerds</small></h1>
    </div>
    <div class="container">

        <h4>Ok, I'm here. What <i>is</i> Garduino?</h4>
        <p>Garduino is a really nice way to track your garden & control it from anywhere in the world</p>
        <br/>
        <h4>Why the name <b>Garduino</b>?</h4>
        <p><span style="color: green">Garden </span>+ <span style="color: blue">Arduino</span>, that's easy.</p>
        <br/>
        <h4>What do I need to use this service?</h4>
        <p>Check <a asp-action="Help">this</a> out!</p>
        <br/>
        <h4><a asp-controller="Account" asp-action="Register">Sign me up!</a></h4>
    </div>

</div>

