@model Garduino.Models.Device

@{
    ViewData["Title"] = "Delete device";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="jumbotron">
    <div class="page-header">
        <h2>
            @ViewData["Title"] <small style="margin-left: 25px">Are you sure?</small>
        </h2>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
