@model IEnumerable<Garduino.Models.Device>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function(){
            function refreshPartial(){
                //this will wait 3 seconds and then fire the load partial function
                setTimeout(function(){
                    loadPartialView();
                    //recall this function so that it will continue to loop
                    refreshPartial();
                }, 3000);
            }
            //initialize the loop
            refreshPartial();
        });

        function loadPartialView() {
            $.ajax({
                url: '@Url.Action("GetDeviceItems", "Device")',
                type: 'post',
                cache: false,
                async: true,
                data: { },
                success: function(result){
                    $('#devices').html(result);
                },
                error: function() {
                    $('#devices').html("nothing.");
                }
            });
        }
    </script>

}
<div class="jumbotron">
    <div class="page-header">
        <h2>
            My Devices <small>&nbsp;All your devices, in one place!<a class="btn btn-primary pull-right" asp-controller="Device" asp-action="Create">Create a device</a></small>
        </h2>
    </div>
    <br />
    <ul class="list-group">
        <div id="devices">
            @await Html.PartialAsync("DeviceItems", Model)
        </div>
    </ul>
</div>